@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

:root {
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #9e9e9e;
  --color-gray-disabled: #ffffff;
  --color-purple: #d8cded;
  --font-size-small: .75rem;
  --font-size-default: .875rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

h1 {
  font-family: 'Anton', sans-serif;
}

h2 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;