.header{
    position: fixed;
    height: 130px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

.imageProfile{
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    width: 200px;
    border-radius: 70px;
}