.cardProjectItem {
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(55 65 81);
    cursor: pointer;
    margin: 5px;
}

.cardProjectItem:hover {
    scale: 1.01;
    transition: 0.3s;
}

.swiperScreenMid,
.swiperScreenSmall {
    visibility: hidden;
    display: none;
}

.title {
    font-size: 3vw;
}

@media (max-width: 1550px) {
    .swiperScreenLarge {
        visibility: hidden;
        display: none;
    }

    .cardProjectItem {
        width: 450px;
        padding: 10px;
        border-radius: 10px;
    }

    .swiperScreenMid {
        visibility: visible;
        display: block;
    }
}

@media (max-width: 740px) {
    .swiperScreenMid {
        visibility: hidden;
        display: none;
    }

    .swiperScreenSmall {
        visibility: visible;
        display: block;
    }

    .cardProjectItem {
        width: 85vw;
        border-radius: 10px;
    }

    .title {
        font-size: 6vw;
    }
}